.green-bar {
  background-color: #8CB202;
  padding: 20px;
  position: relative;
}

.green-bar h3 {
  color: white;
  margin-left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}