.container {
  display: flex;
  height: 100vh;
}

.index-list {
  width: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.index-list button {
  width: 240px;
  height: 50px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
}

.index-list button.selected {
  border: 2px solid #8CB202;
}

.data-display {
  flex: 0.95 1 auto;
  flex-direction: column;
}

.chart-container {
  flex: 1 1 auto;
  padding: 20px;
}

.chart-container ul {
  margin: 0;
  padding: 0;
}

.property-select mat-grid-tile {
  display: flex;
  justify-content: center;
  padding: 2px;
  margin: 2px;
}

.property-select mat-grid-tile button {
  width: 80%;
  height: 80%;
  border: 2px solid #8CB202;
}

.property-select mat-grid-tile button.mat-stroked-button {
  color: black;
}

.property-select mat-grid-tile button.selected {
  background-color: #8CB202;
  color: white;
}